@model IEnumerable<Cookbook.Models.Recipe>
@{
    ViewData["Title"] = "Recipes";
}

<div class="container">
    <ul class="col-md-8 list-unstyled article-list">
        <li class="row">
            @foreach (var recipe in Model)
            {
                <li>
                    <div class="row article-summary">
                        <br />
   
                        <div class="col-md-4">
                            <p>
                                <strong>  @Html.Raw(recipe.Author.UserName)</strong>
                            </p>
                            <p>
                                @recipe.LastEditTime.ToString("dd MMM yyyy hh:mm")
                            </p>
                        </div>
                        <div class="col-md-8">
                            <h4>
                                <a  asp-action="Details" asp-route-id="@recipe.RecipeId">@recipe.RecipeName</a>
                            </h4>
                                <p>@Html.Raw(recipe.Abstract)</p>
                        </div>
                    </div>
                </li>
            }
        </li>
    </ul>
</div>
